* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(7, 7, 14);
  color: white;
}
.container {
  display: grid;
  grid-template-columns: 500px 1fr;
  column-gap: 80px;
}
.wrapper {
  min-height: 500px;
  background-color: rgb(11, 16, 27);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
  left: 100px;
  border-radius: 15px;
}
#taskCreatArea {
  padding-left: 2rem;
  font-family: "Courier New", Courier, monospace;
  justify-self: baseline;
}
#taskCreatArea input {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
  outline-color: #0f58b8;
  border: none;
  background-color: rgba(63, 63, 65, 0.534);
  color: white;
  position: relative;
  top: 170px;
  right: 29px;
  width: 100%;
}
#addTask {
  position: relative;
  top: 135px;
  left: 437px;
  padding: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: #0f58b8;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-family: "Courier New", Courier, monospace;
}
#addTask:hover {
  color: #0f58b8ad;
}
#taskParant {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
  height: 300px;
  overflow-y: auto;
}
#taskParant li {
  position: relative;
  color: white;
  list-style: none;
  border-radius: 10px;
  padding: 10px;
  max-height: 35px;
  cursor: pointer;
}
li .done {
  position: absolute;
  right: 445px;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  border-color: #ffffff;
  color: #ffffff;
}
li .done:hover {
  border-color: #026ffd;
}
#taskParant li:hover {
  background-color: #4948487a;
}
.finished:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #444242;
  content: "";
  width: 90%;
  display: block;
}
.maked-done {
  background-color: #444242 !important;
  border: none;
}
.delete {
  background-color: rgba(255, 255, 255, 0.527);
  border: none;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 11px;
  font-size: 13px;
  cursor: pointer;
}
.task-display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 100px;
  left: 120px;
  width: 600px;
  height: 400px;
  border-radius: 15px;
  background-color: rgb(11, 16, 27);
}
.edit {
  position: relative;
  bottom: 50px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  font-size: 21px;
}
.wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  padding-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.wrap label {
  position: relative;
  left: 250px;
  color: gray;
  cursor: text;
}
.notes {
  padding: 10px;
  border-radius: 15px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #ffffff;
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #070313;
}

::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
}
